body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.cards {
  margin: 0 auto;
  width: 100%;
}

.cards:hover {
  cursor: grab;
}

.yellow {
  background-color: yellow;
}
.red {
  background-color: red;
}